<h1>Ajouter un restaurant</h1>
<div class="container">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORIES %>
    <%= f.submit 'Valider', class: 'btn btn-success' %>
  <% end %>
  <%= link_to 'Retour a la liste', restaurant_path, class: "btn btn-info" %>
</div>
