<h1>Restaurant<%= @restaurant.name %></h1>

<ul>
  <li>Address<%= @restaurant.address %></li>
  <li>Phone number<%= @restaurant.phone_number %></li>
  <li>Category<%= @restaurant.category %></li>
</ul>

<%= link_to 'Retour a la liste', restaurants_path %>

